<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en-US" dir="ltr">

    <head>
        <title>Create Account</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" th:href="@{/css/create-customer.css}">
    </head>

    <body>
    <header>
        <h1>Lombardi's Italian Restaurant</h1>
    </header>
    <h3>Create Account</h3>
    <div class="form-wrapper">
        <form th:action="@{/create-customer}" method="post">
            <div class="left-container">
                <div class="form-label">First name:</div>
                <div class="form-label">Last name:</div>
                <div class="form-label">Email:</div>
                <div class="form-label">Password:</div>
            </div>
            <div class="right-container">
                <div>
                    <input type="text" name="firstName" th:value="${customer.firstName} ?: ''"/>
                </div>
                <div>
                    <input type="text" name="lastName" th:value="${customer.lastName} ?: ''"/>
                </div>
                <div>
                    <input type="text" name="email"/>
                </div>
                <div>
                    <input type="password" name="password"/>
                </div>
            </div>
            <div>
                <input class="submit-btn" type="submit" name="submit">
            </div>
        </form>
    </div>
    <div class="error-msg">
        <div th:text="${errorMsg.firstNameErr}"></div>
        <div th:text="${errorMsg.lastNameErr}"></div>
        <div th:text="${errorMsg.emailErr}"></div>
        <div th:text="${errorMsg.passwordErr}"></div>
    </div>
    <footer>
        <h6>Lombardi's Italian Restaurant</h6>
    </footer>
    </body>
</html>